<!DOCTYPE html>
<html>
<head>
    <title>Server Control Interface</title>
</head>
<body>
    <h1>Server Control Interface</h1>

    <h2>Start a server</h2>
    <form action="/start_server" method="post">
        <label for="game">Game :</label>
        <select id="game" name="game">
            <option value="minecraft">Minecraft</option>
            <option value="ark">ARK: Survival Evolved</option>
            <option value="rust">Rust</option>
        </select>
        <br>
        <label for="port">Port :</label>
        <input type="text" id="port" name="port">
        <br>
        <button type="submit">Start the server</button>
    </form>

    <h2>Stop a server</h2>
    <form action="/stop_server" method="post">
        <label for="container_id">ID du conteneur :</label>
        <input type="text" id="container_id" name="container_id">
        <br>
        <button type="submit">Stop the server</button>
    </form>

    <h2>List of container running names</h2>
    <ul>
        {% for container in containers %}
            <li>
<!--                <a href="/files/{{ container.id }}">{{ container.id }}</a>-->
              <p>{{ container.id }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
